.tabs-content {
  .content {
    width:100%;
  }
}
footer{
position:fixed;
bottom:0;
padding: 5px;
background: #333333;
}

.footer-right{
  float: right;
  position: relative;
}

img.fullwidth{
    display: block;
    width: 100%; /* just add width in case you want the image covering full-width */
    margin: 0 auto;
}