.top-bar {
  position: relative;
  height: 2.8rem;
}

.tabs-content {
  .content {
    width:100%;
  }
}
footer{
position:fixed;
bottom:0;
padding: 5px;
background: #333333;
}

.footer-right{
  float: right;
  position: relative;
}